* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.top-section {
    height: calc(100vh - 80px);
    display: flex;
}

.bottom-section {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(44, 44, 44);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.sidebar{
    width: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

.current-song {
    width: 60%;
    padding-top: 13px;
}

.icons {
    width: 40%;
    padding-top: 13px;
}

img {
    width: 100%;
}

.small {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding: 5px;
}

.x-small {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    padding: 5px;
}

.main-content {
    width: calc(100vw - 50px);
    background-color: rgb(20, 23, 41);
}

header {
    width: calc(100vw - 50px);
    height: 75px;
    position: fixed;
    left: 50px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.499);
    text-align: right;
    padding: 15px 5px 0 0;
}

main {
    padding: 10px;
    margin-top: 75px;
    height: calc(100vh - 155px);
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col-xs-s-50 {
    width: 50%;
}

.col-xs-s-50>.content {
    margin: 10px;
}

.selection ul {
    color: grey;
    list-style-type: none;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    padding: 0 15px;
}

.selection ul li {
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
}

.button {
    padding: 16px 60px;
    background-color: red;
    border: 1px solid white;
    border-radius: 25px;
    float: right;
}

.volume {
    position: relative;
    width: 100px;
    height: 6px;
    background-color: #555;
    border-radius: 3px;
    overflow: hidden;
}

.volume-low {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #999;
    border-radius: 3px 0 0 3px;
}

.left-col , .right-col {
    width: 25%;
    height: 100%;
    background-color: red;
    border: 1px solid black;
}

.center-col {
    width: 50%;
    height: 100%;
    background-color: blue;
    border: 1px solid black;
}

/* .image {
    width: 50%;
} */

.text-size {
    width: 50%;
    font-size: 10px;
}

.text {
    text-align: center;
}

.no-gap {
    gap: 0;
}

.no-wrap {
    flex-wrap: nowrap;
}

.pt-35 {
    padding-top: 35px;
}

.ai-center {
    align-items: center;
}

.float-end {
    float: right;
}

/* padding-top per portare al centro?*/



/* Media Queries */

@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        width: calc(100vw - 200px);
    }
    header {
        width: calc(100vw - 200px);
        left: 200px;
    }
}

@media screen and (min-width: 768px) {
    .col-md-25 {
        width: 25%;
    }
}

@media screen and (min-width: 1200px) {
    .col-lg-16 {
        width: calc(100% / 6);
    }
}